body {
  color: black;
  background-color: white;
}

#resultado1 {
  color: red;
  white-space: pre; /* fuerza a mostrar espacios y saltos */
}

#resultado2 {
  color: green;
  white-space: pre; /* fuerza a mostrar espacios y saltos */
}

#ejemplo {
  width: 200px;
  border: 1px solid black;
}
